.weather-search {
  border: 3px solid rgb(112, 117, 122);
  max-width: 800px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  padding-left: 10px;
}
li {
  color: rgb(112, 117, 122);
  display: block;
  font-weight: 200;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  line-height: 17px;
  padding-left: 0px;
  margin: 0px;
}
.ul {
  padding: 0px;
  margin: 0;
}
h1 {
  color: rgb(32, 33, 36);
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
  height: 27px;
  font-style: bold;
  line-height: 26px;
  width: 326px;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 10px;
}
.temperature {
  font-size: 30px;
  font-style: bold;
  font-weight: 600;
}
.ul {
  padding-left: 0px;
  margin: 0;
  display: block;
}
